@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Verdana';
}

:root {
    --main-color: #205520;
    --secondary-color: #552055;
    --light-gray: #ddd;
    --dark-gray: #666;
    --color-white: #fff;
}

a, 
a:hover {
    text-decoration: none;
    color: unset;
}


.generic-section {
    min-height: 300px;
    padding: 40px 20px;
}

.generic-section h1 {
    font-size: 31px;
}

.generic-section h2 {
    color: var(--main-color);
    font-size: 31px;
}

.generic-section p {
    font-size: 24px;
    color: #666;
}

.bg-gray {
    background-color: var(--light-gray);
}

.bg-dark {
    background-color: var(--dark-gray);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.form-card {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #999;
}

.form-card form {
    display: flex;
    flex-direction: column;
    
}

.form-card form input {
    border: none;
    background-color: #f0f0f0;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
}

.form-card form input::placeholder {
    color: #aaf;
}


.form-card form button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff8400;    
}
.form-card form button:hover {
    background-color: #ffbb00;
}

.form-card:focus {
    outline: 1px solid #990;
}

.buttons-container {
    display: flex;
    margin-top: 30px;
}

.link-button {
    height: 60px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--color-white);
}

header {
    min-height: 100px;
    /*height: 20vh;*/
    background-color: var(--main-color);
}

main {
    min-height: calc(100vh - 300px);
}


footer {
    min-height: 200px;
    background-color: var(--secondary-color);
}

