@import url(<linkrel="preconnect"href="https://fonts.googleapis.com"><linkrel="preconnect"href="https://fonts.gstatic.com"crossorigin><linkhref="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"rel="stylesheet">);

:root {
  --color-red: #f03c42;
  --color-blue: #222374;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 1200px;
  max-height: 100px;
}

header {
  background-color: var(--color-red);
  color: var(--color-white);
}

footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 120px 0 120px;
  padding-bottom: 40px;
  
}

section h1 {
  font-size: 32px;
  padding: 20px 0 40px 0;
}

section h2 {
  font-size: 20px;
  padding: 20px 0 20px 20px;
}

section p {
  font-size: 14px;
  padding: 0 0 20px 20px;
}

.section-conheca {
  background-color: var(--color-blue);
}

.section-conheca h1 {
  color: var(--color-white);
}

.container-conheca {
  background-color: var(--color-gray);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 106px;
}

.section-modalidades {
  background-color: var(--color-white);
}

.section-modalidades h1 {
  color: var(--color-red);
}

.container-modalidades {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;

}
