@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> );

:root {
    --color-red: #f03c42;
    --color-blue: #222374;
    --color-white: #FFFFFF;;
    --color-black: #000000;
    --color-gray:#CCCCCC;

    ;
}

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--color-red);
    color: var(--color-white);
    
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.conheca {
    background-color: var(--color-blue);
}

.conheca h1 {
    color: var(--color-white);
    font-size: 32px;
}

.conheca p {
    font-size: 14px;
}

#container-conheca {
    background-color:var(--color-gray) ;
}

.modalidades {
    background-color: var(--color-white);
}

.modalidades h1 {
    color: var(--color-red);
    font-size: 32px;
}

.modalidades p {
    font-size: 14px;
}